<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Cyber Elite</title>
    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Cyber</em> Elite</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li class="has-submenu"><a href="#section2">About Us</a>
          <ul class="sub-menu">
            <li><a href="#section2">Who we are?</a></li>
            <li><a href="#section3">What we do?</a></li>
            <li><a href="#section3">How it works?</a></li>
           
          </ul>
        </li>
        <li><a href="#section4">Services</a></li>
        <li><a href="#section5">Team</a></li>
        <li><a href="#section6">Contact</a></li>
       

        
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Fortifying Your Digital World with Cutting-Edge Security Solutions</h6>
              <h2><em>Your own</em> Cyber Shield</h2>
              <div class="main-button">
                  <div><a href="login.html">Discover more</a></div>
              </div>
          </div>
      </div>
  </section>
  </section>
<section class="container mt-4">
    <h3 class="mb-4">Data Table</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>NAME</th>
                <th>Email</th>
                
                <th>Message</th> <!-- Corrected "Messege" to "Message" -->
            </tr>
        </thead>
        <tbody>
            <!-- Thymeleaf iteration for data rows -->
            <tr th:each="s : ${data}">
                <td th:text="${s.name}"></td>
                <td th:text="${s.email}"></td>
               
                <td th:text="${s.message}"></td>
            </tr>
        </tbody>
    </table>
  

  </body>
  </html>
  